.buttonComponent {
    margin: 2rem;
    border-radius: 50px;
    padding : 1.5rem 50px;
    font-size: 2rem;
    box-shadow:  1px 0px 20px rgba(117, 117, 117, 0.2);
}

.buttonComponent:active {
    transform: scale(0.95); /* Effet de réduction de taille au clic */
}

.buttonComponent:focus {
    outline: none;
}
