#root {
  margin: 0 auto;
  text-align: center;
}

body {
  background-color: rgb(210, 238, 191);
}

.App_container {
  background-color: rgb(103, 150, 74);
  padding: 2rem;
  height: 700px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow:  1px 8px 20px rgba(24, 52, 7, 0.2);
  border-radius: 20px;
}




